version: '3.8'

services:
  db:
    image: postgres:15
    ports:
      - '5433:5432' # Puerto diferente para evitar conflictos con instancias locales
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: base_repo_test
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
